#include <behaviors/mouse_keys.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define ZMK_MOUSE_DEFAULT_MOVE_VAL 1200  // 600
#define ZMK_MOUSE_DEFAULT_SCRL_VAL 20    // 10
#define U_MS_U &mmv MOVE_UP
#define U_MS_D &mmv MOVE_DOWN
#define U_MS_L &mmv MOVE_LEFT
#define U_MS_R &mmv MOVE_RIGHT

/ {
    behaviors {
        td0: td0 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD0";
            #binding-cells = <0>;
            bindings = <&kp LEFT_SHIFT>, <&kp CAPS>;
        };

        td1: td1 {
            compatible = "zmk,behavior-tap-dance";
            label = "TD1";
            #binding-cells = <0>;
            bindings = <&mkp LCLK>, <&mkp RCLK>;
        };

        mmv {
            acceleration-exponent = <1>;      // 1
            time-to-max-speed-ms = <900>;    // 40
            delay-ms = <0>;                   // 0
        };

        msc {
            acceleration-exponent = <1>;      // 0
            time-to-max-speed-ms = <400>;      // 500
            delay-ms = <0>;                   // 10
        };

    };

    macros {
        macro_1: macro_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press &kp LSHFT &kp RALT>,
                <&macro_tap &kp L>,
                <&macro_release &kp LSHFT &kp RALT>,
                <&macro_tap &kp X &kp N2>,
                <&macro_tap &kp ENTER>;
        };
        macro_2: macro_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_tap $kp DLLR>,
                <&macro_tap &kp DLLR>,
                <&macro_tap $kp LEFT_ARROW>;
        };
    };

    rgb_encoder: rgb_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        label = "RGB_ENCODER";
        #sensor-binding-cells = <0>;
        bindings = <&rgb_ug RGB_BRI>, <&rgb_ug RGB_BRD>;
    };

    scroll_encoder: scroll_encoder {
        compatible = "zmk,behavior-sensor-rotate";
        #sensor-binding-cells = <0>;
        bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;

        tap-ms = <30>;
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            display-name = "QWERTY";

            // --------------------------------------------------------------------------------
            // |  ESC  |  Q  |  W  |  E  |  R  |  T  |               UP    |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | SHIFT |  A  |  S  |  D  |  F  |  G  |               DN    |  H  |  J   |  K  |  L  |  ;  |   ’  |
            // | CTRL  |  Z  |  X  |  C  |  V  | ALT |               LEFT  |  B  |  N   |  M  |  ,  |  .  |   /  |
            //                     | DEL | SPC | LWR |               RIGHT | RSE | SPC  | ENT |
            //                                                       WIN

            bindings = <
&kp ESC    &kp Q  &kp W      &kp E     &kp R       &kp T          &kp UP_ARROW     &kp Y  &kp U       &kp I     &kp O     &kp P    &kp BSPC
&td0       &kp A  &kp S      &kp D     &kp F       &kp G          &kp DOWN_ARROW   &kp H  &kp J       &kp K     &kp L     &kp SEMI &kp SQT
&kp LCTRL  &kp Z  &kp X      &kp C     &kp V       &kp RALT       &kp LEFT_ARROW   &kp B  &kp N       &kp M     &kp COMMA &kp DOT  &kp FSLH
                  &kp SPACE  &kp DEL   &kp SPACE   &mo 1          &kp RIGHT_ARROW  &mo 2  &lt 3 SPACE &kp ENTER
                                                                  &none
            >;

            label = "QWERTY";
            sensor-bindings = <&inc_dec_kp EQUAL MINUS>;
        };

        lower_layer {
            display-name = "NUMBER";

            // -----------------------------------------------------------------------------------------
            // | TAB|  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  |BKSP|
            // |SHFT| BT1 | BT2 | BT3 | BT4 | BT5 |   |     |  4  |  5  |  6  |  +  | -  |
            // |    |     |     |     | M_2 | M_1 |   |  .  |  1  |  2  |  3  |  *  | /  |
            //                  | DEL | SPC |     |   | GUI | SPC | ENT |

            bindings = <
&kp TAB &kp N1       &kp N2       &kp N3       &kp N4       &kp N5       &mmv MOVE_UP    &kp N6   &kp N7    &kp N8   &kp N9   &kp N0    &kp BSPC
&td0    &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4 &mmv MOVE_DOWN  &none    &kp N4    &kp N5   &kp N6   &kp PLUS  &kp MINUS
&none   &none        &none        &none        &none        &macro_1     &mmv MOVE_LEFT  &kp DOT  &kp N1    &kp N2   &kp N3   &kp STAR  &kp SLASH
                     &kp C_PP     &kp DEL      &kp SPACE    &trans       &mmv MOVE_RIGHT &kp LGUI &kp SPACE &kp ENTER
                                                                         &none
            >;

            label = "NUMBER";
            sensor-bindings = <&inc_dec_kp C_NEXT C_PREV>;
        };

        raise_layer {
            display-name = "SYMBOL";

            // -----------------------------------------------------------------------------------------
            // | `~  |  !  |  @  |  #  |  $  |  %  |             MUP     |     |     |     | -_ | += |BKSP|
            // | SHFT|  ^  |  &  |  *  |  (  |  )  |             MDN     |     |     |     | [  | ]  | \| |
            // |     |     |     |     |     |     |             MLEFT   |     |     |     |    |    |    |
            //                   | DEL | SPC | GUI |             MRIGHT  |     | SPC | ENT |

            bindings = <
&kp GRAVE &kp EXCL      &kp AT        &kp HASH   &kp DLLR    &kp PRCNT    &mmv MOVE_UP     &none      &none   &none  &kp MINUS  &kp EQUAL  &kp BSPC
&td0      &kp CARET     &kp AMPS      &kp ASTRK  &kp LPAR    &kp RPAR     &mmv MOVE_DOWN   &none      &none   &none  &kp LBKT   &kp RBKT   &kp BSLH
&none     &none         &none         &none      &none       &none        &mmv MOVE_LEFT   &none      &none   &none  &none      &none      &none
                        &kp C_MUTE    &kp DEL    &kp SPACE   &kp LGUI     &mmv MOVE_RIGHT  &trans     &kp SPACE   &kp ENTER
                                                                          &none
            >;

            label = "SYMBOL";
            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        layer_3 {
            display-name = "Fn";

            // -----------------------------------------------------------------------------------------
            // |  ESC |     |  UP  |  E  |     |     |             MUP     | F1 | F2  | F3  | F4  |   | BKSP |
            // | SHFT |LEFT |  DN  |RIGHT|     |     |             MDN     | F5 | F6  | F7  | F8  |   |      |
            // | CTRL |     |      |     |     |     |             MLEFT   | F9 | F10 | F11 | F12 |   | CLR  |
            //                     | DEL | SPC | GUI |             MRIGHT  |GUI | SPC | ENT |

            bindings = <
&kp ESC    &none    &kp UP   &kp E     &none        &none          &mmv MOVE_UP    &kp F1   &kp F2      &kp F3   &kp F4   &none  &kp BSPC
&kp LSHIFT &kp LEFT &kp DOWN &kp RIGHT &none        &none          &mmv MOVE_DOWN  &kp F5   &kp F6      &kp F7   &kp F8   &none  &none
&kp LCTRL  &none    &none    &none     &none        &none          &mmv MOVE_LEFT  &kp F9   &kp F10     &kp F11  &kp F12  &none  &bt BT_CLR_ALL
                    &none    &kp DEL   &kp SPACE    &kp LGUI       &mmv MOVE_RIGHT &kp LGUI &lt 3 SPACE &kp ENTER
                                                                   &none
            >;

            label = "FN";
            sensor-bindings = <&inc_dec_kp C_BRI_DN C_BRI_UP>;
        };
    };
};
